# C++ files
*.o

# test sample files
goldens/
outputs/
samples/

# Catapult files
Catapult/
Catapult_*
*.ccs
*.pinfo
work/
table_*

# results and logs
results/
run_logs/
logs/
*.log

# misc
__pycache__
.venv
OLD_*
lib/
*.lib
.vscode/
vivado*
tmp*
experiments/

# Local machine configuration
/configs/config.local.sh
