# C++ files
*.o

# test sample files
goldens/
outputs/
samples/

# Catapult files
Catapult/
Catapult_*
*.ccs
*.pinfo
work/
table_*

# python files
__pycache__
.venv

# misc
*.log
lib/
*.lib
logs/

OLD_*