# Tessera Design Compiler synthesis for {{ kernel }}

set_host_options -max_cores {{ max_cores }}

set target_library {{ target_library }}
set link_library {* {{ target_library }} dw_foundation.sldb standard.sldb}
set synthetic_library {dw_foundation.sldb standard.sldb}

define_design_lib WORK -path ./work

# A broken netlist should error and stop dc
set_message_info -id LINT-61 -stop_on
set_message_info -id UID-3   -stop_on
set_message_info -id RPT-7   -stop_on
set_message_info -id UID-341 -stop_on

{% if children %}
# Children keep their own synthesis, so DC links them instead of flattening.
{% for child in children %}
read_ddc {{ child.ddc }}
rename_design {{ child.entity }} {{ child.renamed }}
{% endfor %}
set_dont_touch [get_designs { {{ children | map(attribute='renamed') | join(' ') }} }]
{% endif %}

analyze -format verilog {{ rtl }}
elaborate {{ entity }}
current_design {{ entity }}
link

set_multi_vth_constraint -reset
set_fix_multiple_port_nets -all -buffer_constants
read_sdc {{ sdc }}
set auto_wire_load_selection false

# Flatten Catapult's IO handshake wrappers
set wait_ctrl [find -hierarchy cell {*_triosy_obj_inst *_synci_inst *_staller_inst *_rsci*_inst}]
if {[llength $wait_ctrl] > 0} {
    ungroup $wait_ctrl -flatten
}

set_multi_vth_constraint -reset
compile_ultra -no_autoungroup

check_design -unmapped -nosplit

redirect -file {{ report_dir }}/area.rpt      { report_area -hierarchy -designware -nosplit }
redirect -file {{ report_dir }}/qor.rpt       { report_qor }
redirect -file {{ report_dir }}/timing.rpt    { report_timing -nosplit }
redirect -file {{ report_dir }}/power.rpt     { report_power -hierarchy }
redirect -file {{ report_dir }}/resources.rpt { report_resources -hierarchy }

write -format ddc     -hierarchy -output {{ syn_dir }}/{{ kernel }}.ddc
write -format verilog -hierarchy -output {{ syn_dir }}/{{ kernel }}_gate.v
write_sdc {{ syn_dir }}/{{ kernel }}_gate.sdc
write_sdf {{ syn_dir }}/{{ kernel }}_gate.sdf

# qor summary for package
redirect -file {{ syn_dir }}/qor.rpt { report_qor }

exit
