#ifndef _{{ kernel | upper }}_H_
#define _{{ kernel | upper }}_H_

#include <ac_int.h>
#include "params.h"

template<{{ template_params }}>
{{ decl_output_type }} {{ kernel }}_impl(
{% for arg in inputs %}    const {{ arg.decl_type }} {{ arg.name }}{{ "," if not loop.last }}
{% endfor %}) {
    // TODO: Implement kernel
}

#endif /* _{{ kernel | upper }}_H_ */
