#ifndef PARAMS_H
#define PARAMS_H

#include <ac_int.h>

// Enums
{% for name, value in enums.items() -%}
#define {{ name }} {{ value }}
{% endfor %}
// Parameters
{% for name, value in params.items() -%}
#define {{ name }} {{ value }}
{% endfor %}
{% if fields %}
{% for f in fields %}
struct {{ f.name }} {
    static constexpr int W = {{ f.bitwidth }};
    static ac_int<{{ f.bitwidth }}, false> Q() {
        ac_int<{{ f.bitwidth }}, false> q;
        q.bit_fill_hex("{{ f.q }}");
        return q;
    }
    static ac_int<{{ f.bitwidth }}, false> Q_PRIME() {
        ac_int<{{ f.bitwidth }}, false> q_prime;
        q_prime.bit_fill_hex("{{ f.q_prime }}");
        return q_prime;
    }
    static ac_int<{{ f.bitwidth }}+1, false> MU() {
        ac_int<{{ f.bitwidth }}+1, false> mu;
        mu.bit_fill_hex("{{ f.mu }}");
        return mu;
    }
{% for c in ['a', 'b', 'd', 'k'] %}{% if c in f %}
    static ac_int<{{ f.bitwidth }}, false> {{ c | upper }}() {
        ac_int<{{ f.bitwidth }}, false> {{ c }};
        {{ c }}.bit_fill_hex("{{ f[c] }}");
        return {{ c }};
    }
{% endif %}{% endfor %}};
{% endfor %}
using FIELD = {{ fields[0].name }};
{% endif %}
#endif // PARAMS_H
