#ifndef PARAMS_H
#define PARAMS_H

// Enums
{% for name, value in enums.items() -%}
#define {{ name }} {{ value }}
{% endfor %}
// Parameters
{% for name, value in params.items() -%}
#define {{ name }} {{ value }}
{% endfor %}
#endif // PARAMS_H
